<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        ><h1 style="font-size: 1.5rem">Iniciar sesion</h1></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <form>
      <div class="form-login-container">
        <div>

        </div>
        <div class="form-login">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="grid formgrid">
            <div>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput type="password" />
                <mat-error>
                  {{ loginForm.get("password")?.errors | validationErrors }}
                </mat-error>
                <button (click)="revealPassword = !revealPassword" matSuffix mat-icon-button>
                  <mat-icon>visibility</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="button-login">
              <button type="submit" mat-raised-button color="primary">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
