.login-container {
  height: 100vh;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, teal, #f1f1f1);
}
.sesion{
  text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  margin: 10px;

}

.mat-card {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.ingresar{
  color: rgba(11, 11, 11, 0.703);
  cursor: pointer;



}
.ingresar:hover{
  background-color: rgb(67, 202, 202)
}
