<h1 mat-dialog-title> Usuarios</h1>
<div mat-dialog-content class="form-user">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="grid formgrid">
    <div>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input formControlName="firstName" matInput type="text" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input formControlName="lastName" matInput type="text" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" required />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="user">User</mat-option>
        <mat-option value="subscribed">Alumno</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" matInput type="password" required />
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close color="primary">Cancelar</button>
      <button mat-button color="primary" >Guardar</button>

    </div>
  </form>
</div>
