.toolbar{
  background-color: teal;
  height: 100px;


}

.titulo{
  font-size: 1.5rem;
}

.mat-drawer{
  text-align: center;
  width: 200px;
  background-color:rgba(2, 99, 99, 0.81);
  font-size: 1rem;



}
.opciones{
  color: white;
  padding: 10px 20px;
  margin-right: 10px;


}
.example-sidenav-content {
  height: 200vh;
}
